<div class="container">

	<div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>How It Works</h4>
          <!--   Icon Section   -->
          <div class="row">
            <div class="col s12 m6">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">border_color</i></h2>
                <h5 class="center">Fill Form</h5>

                <p class="light">Fill out the form with your information and a detailed description of service needed.</p>
              </div>
            </div>

            <div class="col s12 m6">
              <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">attach_money</i></h2>
                <h5 class="center">Estimates</h5>

                <p class="light">An estimate would be sent to you via email. For more information contact us.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="card teal lighten-5">
			<%= form_for Quote.new, html: { class: "container"} do |f| %>
				<h5 class="center">Please fill...</h5><br/>
				First name: <%=f.text_field :fname, placeholder: "Jane", :required => 'required'%>
				Last name: <%=f.text_field :lname, placeholder: "Doe", :required => 'required'%>
				Email Address: <%=f.text_field :email, placeholder: "JaneDoe@email.com", :required => 'required'%>
				Address: <%=f.text_field :address, placeholder: "543 North West", :required => 'required'%>
				City: <%=f.text_field :city, placeholder: "Roseu"%>
				State: <%=f.text_field :state, placeholder: "Roseu"%>
				Zip Code: <%=f.text_field :zip, placeholder: "54387"%>
				Phone Number: <%=f.text_field :phone_num, placeholder: "543-454-4545"%>
				Service?  Rental/Cleaning/Gen. Service  : <%= f.text_field :service, placeholder: "cleaning" %>
				Description: <%=f.text_field :description, placeholder: "House cleaning, 4 bed, 2 baths and laundry"%>
				
				<%= f.hidden_field :complete, :value => false %>
				<p class="center waves-effect waves-light btn"><%= f.submit %><br/></p>
			<%end%>
    </div>
	
	<br><br>

</div>
