<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><%= link_to "Home", root_path, class: "white-text" %></li>
          <li><%= link_to "Services", root_path + "#Services", class: "white-text" %></li>
          <li><%= link_to "Qoutes", quotes_path, class: "white-text" %></li>
          <li><%= link_to "Contact Us", root_path + "#Contact", class: "white-text" %></li>
          <li><a href=""><%= link_to 'Join Us', edit_user_registration_path, class: "white-text" %></a></li>
          <li><a href="" class="white-text">About Us</a></li> 
          <li><a class="white-text"><b>Call Us: 1-800-XXX-XXXX</b></a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="">Facebook</a></li>
          <li><a class="white-text" href="">Twitter</a></li>
          <li><a class="white-text" href="">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    
    </div>
  </div>
</footer>
