<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Cleaning</a></li>
  <li><a href="#!">Car Rental</a></li>
  <li class="divider"></li>
  <li><a href="#!">General Services</a></li>
</ul>

<nav class="white" role="navigation" data-target="header">
  <div class="nav-wrapper container">
    <%= link_to root_path do %>
      <%= image_tag "TB_logo.png", size: "95x62", class: "brand-logo", id: "logo-container"%>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Services", root_path + "#Services" %></li>
      <li><a href="">Qoutes</a></li>
      <li><%= link_to "Contact Us", root_path + "#Contact" %></li>
      <li><a href=""><%= link_to 'Join Us', edit_user_registration_path %></a></li>
      <li><a href="">About Us</a></li> 
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><%= link_to "Services", root_path + "#Services" %></li>
      <li><a href="">Qoutes</a></li>
      <li><%= link_to "Contact Us", root_path + "#Contact" %></li>
      <li><a href=""><%= link_to 'Join Us', edit_user_registration_path %></a></li>
      <li><a href="">About Us</a></li> 
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>