<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Triple B Enterprises</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   

    <style>
      nav ul a,
      nav .brand-logo {
        color: #444;
      }

      p {
        line-height: 2rem;
      }

      .sidenav-trigger {
        color: #26a69a;
      }

      .parallax-container {
        min-height: 380px;
        line-height: 0;
        height: auto;
        color: rgba(255,255,255,.9);
      }
        .parallax-container .section {
          width: 100%;
        }

      @media only screen and (max-width : 992px) {
        .parallax-container .section {
          position: absolute;
          top: 40%;
        }
        #index-banner .section {
          top: 10%;
        }
      }

      @media only screen and (max-width : 600px) {
        #index-banner .section {
          top: 0;
        }
      }

      .icon-block {
        padding: 0 15px;
      }
      .icon-block .material-icons {
        font-size: inherit;
      }

      footer.page-footer {
        margin: 0;
      }
    </style>
  </head>

  <body>
    <div>
      <div id="navbar">
        <%= render(partial: 'layouts/navbar') %>
      </div> 
      <%= yield %>           
      <%= render(partial: 'layouts/footer') %>
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <%= javascript_include_tag 'materialize', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'init', 'data-turbolinks-track': 'reload' %>
    </div>  	
  </body>
</html>
